---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1&per_page=45&q=pallavi%20in:name%2Bin:public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-12-16 22:50:10 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=pallavi+in%3Aname%2Bin%3Apublic&page=2&per_page=45>;
        rel="next", <https://api.github.com/search/repositories?q=pallavi+in%3Aname%2Bin%3Apublic&page=23&per_page=45>;
        rel="last"
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1666141345'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1324,"incomplete_results":false,"items":[{"id":303689197,"node_id":"MDEwOlJlcG9zaXRvcnkzMDM2ODkxOTc=","name":"pallavithakare28","full_name":"pallavithakare28/pallavithakare28","private":false,"owner":{"login":"pallavithakare28","id":62203552,"node_id":"MDQ6VXNlcjYyMjAzNTUy","avatar_url":"https://avatars.githubusercontent.com/u/62203552?v=4","gravatar_id":"","url":"https://api.github.com/users/pallavithakare28","html_url":"https://github.com/pallavithakare28","followers_url":"https://api.github.com/users/pallavithakare28/followers","following_url":"https://api.github.com/users/pallavithakare28/following{/other_user}","gists_url":"https://api.github.com/users/pallavithakare28/gists{/gist_id}","starred_url":"https://api.github.com/users/pallavithakare28/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pallavithakare28/subscriptions","organizations_url":"https://api.github.com/users/pallavithakare28/orgs","repos_url":"https://api.github.com/users/pallavithakare28/repos","events_url":"https://api.github.com/users/pallavithakare28/events{/privacy}","received_events_url":"https://api.github.com/users/pallavithakare28/received_events","type":"User","site_admin":false},"html_url":"https://github.com/pallavithakare28/pallavithakare28","description":null,"fork":false,"url":"https://api.github.com/repos/pallavithakare28/pallavithakare28","forks_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/forks","keys_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/teams","hooks_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/hooks","issue_events_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/issues/events{/number}","events_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/events","assignees_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/assignees{/user}","branches_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/branches{/branch}","tags_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/tags","blobs_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/git/refs{/sha}","trees_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/statuses/{sha}","languages_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/languages","stargazers_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/stargazers","contributors_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/contributors","subscribers_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/subscribers","subscription_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/subscription","commits_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/commits{/sha}","git_commits_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/git/commits{/sha}","comments_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/comments{/number}","issue_comment_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/issues/comments{/number}","contents_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/contents/{+path}","compare_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/merges","archive_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/downloads","issues_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/issues{/number}","pulls_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/pulls{/number}","milestones_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/milestones{/number}","notifications_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/labels{/name}","releases_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/releases{/id}","deployments_url":"https://api.github.com/repos/pallavithakare28/pallavithakare28/deployments","created_at":"2020-10-13T12:03:55Z","updated_at":"2021-10-09T13:32:37Z","pushed_at":"2020-10-13T12:36:07Z","git_url":"git://github.com/pallavithakare28/pallavithakare28.git","ssh_url":"git@github.com:pallavithakare28/pallavithakare28.git","clone_url":"https://github.com/pallavithakare28/pallavithakare28.git","svn_url":"https://github.com/pallavithakare28/pallavithakare28","homepage":null,"size":8,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":2,"open_issues":0,"watchers":1,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"score":1.0},{"id":390279766,"node_id":"MDEwOlJlcG9zaXRvcnkzOTAyNzk3NjY=","name":"Pallavi679","full_name":"Pallavi679/Pallavi679","private":false,"owner":{"login":"Pallavi679","id":67095045,"node_id":"MDQ6VXNlcjY3MDk1MDQ1","avatar_url":"https://avatars.githubusercontent.com/u/67095045?v=4","gravatar_id":"","url":"https://api.github.com/users/Pallavi679","html_url":"https://github.com/Pallavi679","followers_url":"https://api.github.com/users/Pallavi679/followers","following_url":"https://api.github.com/u[...]
