---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=3&per_page=30&q=pallavi%20in:name%2Bin:public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-12-16 22:50:10 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=pallavi+in%3Aname%2Bin%3Apublic&page=2&per_page=30>;
        rel="prev", <https://api.github.com/search/repositories?q=pallavi+in%3Aname%2Bin%3Apublic&page=4&per_page=30>;
        rel="next", <https://api.github.com/search/repositories?q=pallavi+in%3Aname%2Bin%3Apublic&page=34&per_page=30>;
        rel="last", <https://api.github.com/search/repositories?q=pallavi+in%3Aname%2Bin%3Apublic&page=1&per_page=30>;
        rel="first"
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1666139386'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1324,"incomplete_results":false,"items":[{"id":312989745,"node_id":"MDEwOlJlcG9zaXRvcnkzMTI5ODk3NDU=","name":"pallavi1203","full_name":"bhaumik2107/pallavi1203","private":false,"owner":{"login":"bhaumik2107","id":73520286,"node_id":"MDQ6VXNlcjczNTIwMjg2","avatar_url":"https://avatars.githubusercontent.com/u/73520286?v=4","gravatar_id":"","url":"https://api.github.com/users/bhaumik2107","html_url":"https://github.com/bhaumik2107","followers_url":"https://api.github.com/users/bhaumik2107/followers","following_url":"https://api.github.com/users/bhaumik2107/following{/other_user}","gists_url":"https://api.github.com/users/bhaumik2107/gists{/gist_id}","starred_url":"https://api.github.com/users/bhaumik2107/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bhaumik2107/subscriptions","organizations_url":"https://api.github.com/users/bhaumik2107/orgs","repos_url":"https://api.github.com/users/bhaumik2107/repos","events_url":"https://api.github.com/users/bhaumik2107/events{/privacy}","received_events_url":"https://api.github.com/users/bhaumik2107/received_events","type":"User","site_admin":false},"html_url":"https://github.com/bhaumik2107/pallavi1203","description":null,"fork":false,"url":"https://api.github.com/repos/bhaumik2107/pallavi1203","forks_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/forks","keys_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/teams","hooks_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/hooks","issue_events_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/issues/events{/number}","events_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/events","assignees_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/assignees{/user}","branches_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/branches{/branch}","tags_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/tags","blobs_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/git/refs{/sha}","trees_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/statuses/{sha}","languages_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/languages","stargazers_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/stargazers","contributors_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/contributors","subscribers_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/subscribers","subscription_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/subscription","commits_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/commits{/sha}","git_commits_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/git/commits{/sha}","comments_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/comments{/number}","issue_comment_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/issues/comments{/number}","contents_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/contents/{+path}","compare_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/merges","archive_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/downloads","issues_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/issues{/number}","pulls_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/pulls{/number}","milestones_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/milestones{/number}","notifications_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/labels{/name}","releases_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/releases{/id}","deployments_url":"https://api.github.com/repos/bhaumik2107/pallavi1203/deployments","created_at":"2020-11-15T08:37:10Z","updated_at":"2020-11-15T09:09:39Z","pushed_at":"2020-11-15T09:09:36Z","git_url":"git://github.com/bhaumik2107/pallavi1203.git","ssh_url":"git@github.com:bhaumik2107/pallavi1203.git","clone_url":"https://github.com/bhaumik2107/pallavi1203.git","svn_url":"https://github.com/bhaumik2107/pallavi1203","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"score":1.0},{"id":338855666,"node_id":"MDEwOlJlcG9zaXRvcnkzMzg4NTU2NjY=","name":"pallavi526","full_name":"pallavi526/pallavi526","private":false,"owner":{"login":"pallavi526","id":71433453,"node_id":"MDQ6VXNlcjcxNDMzNDUz","avatar_url":"https://avatars.githubusercontent.com/u/71433453?v=4","gravatar_id":"","url":"https://api.github.com/users/pallavi526","html_url":"https://github.com/pallavi526","followers_url":"https://api.github.com/users/pallavi526/followers","following_url":"https://api.github.com/u[...]
